<article class="portfolio">
    <figure>
        <img src="img/banditlogo.jpg" alt="bandit-logo">
    </figure>


    <figure>
        <img src="img/homenetwork.png" alt="homenetworking">
    </figure>


    <figure>
        <img src="img/beachview.png" alt="beachview-icon">
    </figure>


    <figure>
        <img src="img/asodi.png" alt="collage">
    </figure>


    <figure>
        <img src="img/knowledge-tree.png" alt="knowledge-tree">
    </figure>


    <figure>
        <img src="img/tb-monogram.png" alt="tb-monogram">
    </figure>
</article>
