<article>
    <h2>Ways to save money</h2>
    <figure>
        <img src="img/dimes.jpg" alt="dimes">
    </figure>
    <p>If this is too much for you, get started by simply putting your money into one savings account, and then grow your savings from there. You can put money aside on a regular basis for a down payment for a house, a car, or for your retirement. To get started, all of this money can go into one account, and it can double as your emergency fund as long as you don’t have “emergencies” on a regular basis.</p>

    <p>We hope that you don’t do this. Every thief knows that this is the first place to look. Ditto with a roommate. Then there was that guy who dug a hole in his back yard and put $10,000 in cash into a glass jar and buried it. Later when he dug it up, he discovered that the water in the soil surrounding the jar had frozen in the winter and cracked the jar. Water then filled the jar and turned the money into a soupy mess. Because most of the bills were unrecognizable, he was not able to cash most of them in. All he was left with was one broken jar of expensive soup.</p>

    <p>Lots of people do this—just ask your bank’s tellers—they can smell it (old money stinks). Stashing cash in your safety deposit box is definitely safer than using a mattress or burying the money in the back yard, but not much smarter. Money in a safety deposit box does no one any good. It doesn’t earn you any interest. The government insures the money you deposit into an account at a bank up to $100,000 (and there are some ways to get higher coverage than this), and if you can’t trust the bank with your money, then how can you trust the bank with the stuff in your safety deposit box?</p>

    <p>A chequing account or a regular savings account is no place to save your money. Most of them pay hardly any interest. This is because the bank lends your money to other people when you aren’t using it. Money in a regular bank account might get used often, or you might need to withdraw it quickly, so the bank can’t lend that money out for very long because you might need it. The bank makes money when they can lend your money out for extended periods of time, and at higher interest rates, so then you earn more interest when they are able to do that. Look to earn more interest with High Interest Savings Accounts and Term Deposits or GICs.</p>

    <hr>
</article>
<article>
    <h2>Save yourself on bills!</h2>
    
    <figure>
        <img src="img/mint.jpg" alt="mint">
    </figure>
    <p>One of the best saving strategies is to pay yourself first. What this means is that you designate a certain amount of your paycheque as your pay (how novel) and you pay that money to yourself before you pay your bills or anyone else. This amount can be $25, $100 or maybe 10% of your paycheque. It can be any amount that you decide. The important part is that you pay yourself first rather than last. Most people pay all of the bills first and then save anything that might be left over. For most people, that method of saving doesn’t really work because nothing is left over to save.</p>

    <p>Another amazing thing about using automatic deductions or transfers to pay yourself first is that you can use it to become a millionaire—automatically. This may sound crazy, but it actually works. If someone automatically had $2 transferred from each of their bi-weekly paycheques into their investment account from when they were 25 until they were 65, they would end up with over $1,000,000 if they averaged a 7% rate of return on their investments. So a normal person can become a millionaire automatically without winning the lottery. This plan would require a little more sacrifice than most people are willing to make in their twenties, but it is entirely possible. Now you know how to become a millionaire…..if only you were 25 again.</p>


</article>
    <hr>
<article>
       <h2>Have a Spending Plan</h2>
    <figure>
        <img src="img/pound.jpg" alt="pound">
    </figure>
    
    <p>The secret to this method (if you want to call it that) is to identify what you are spending money on so that you can begin to plan your spending. Once you begin to plan your spending, you will gain control over it and you will be able to plan to spend money on your savings. In other words, you will plan to put money into your savings account. Many people don’t like to plan their spending because it involves a little bit of work (once a year). No one is saying that success will come easily, but this little bit of work will pay off big time in many areas of your finances. We dare you to try it - what have you got to lose?</p>

    <p>We hope that you don’t do this. Every thief knows that this is the first place to look. Ditto with a roommate. Then there was that guy who dug a hole in his back yard and put $10,000 in cash into a glass jar and buried it. Later when he dug it up, he discovered that the water in the soil surrounding the jar had frozen in the winter and cracked the jar. Water then filled the jar and turned the money into a soupy mess. Because most of the bills were unrecognizable, he was not able to cash most of them in. All he was left with was one broken jar of expensive soup.</p>

    <p>These types of savings accounts are usually more restrictive than regular savings accounts, but they pay a lot more interest. Make sure that your bank or credit union is paying you a competitive rate (you can’t negotiate but you can move) and then save away. These types of accounts are usually safe, convenient and their interest rates usually move up as bank interest rates move up.</p>

    <p>For most Canadians, these are the best way to save. A Tax Free Savings Account is your own little tax haven. A TFSA is an official setup that shelters your investment from taxes. A TFSA account allows you to put up to $5,500 per year into your tax shelter and not pay any tax on the interest that you earn or on the growth of your investment. Then when you take your money out of the TFSA, you don’t pay any tax either. So now you don’t have to sneak off to the Bahamas or the Cayman Islands to invest your money and protect yourself from taxes. The government has kindly brought the tax haven to you. Whether you are saving up for a car, a down payment for a house or your retirement, a TFSA is a smart way to save and invest. </p>
</article>
